<nav class="c-nav">
  <link rel="stylesheet" href="../../style.css">
  <div class="c-nav__container container">
    <div class="c-nav__logo">
      <a href="/">
        <img src="../../assets/images/logo.svg" alt="Trusted Home Warranty" height="50">
      </a>
    </div>
    
    <ul class="c-nav__menu">
      <li class="c-nav__item"><a href="#" class="c-nav__link">Home warranty</a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__item-link" style="text-decoration: none; color: inherit;">Request Warranty Service</a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link">FAQs</a></li>
    </ul>

    <div class="c-nav__actions">
      <a href="#" class="c-btn c-btn--brand" style="padding: 10px 32px; font-size: 16px; gap: 10px;">
        <span class="label">Get Started</span>
        <span class="icon" style="width: 20px; height: 20px;">
          <img src="../../assets/images/lshopping-cart.svg" alt="Cart" style="width: 100%; height: 100%;">
        </span>
      </a>
    </div>
  </div>
</nav>
